.Home-hero {
  display: flex;
  height: 90vh;

  padding: 10vh 10vw 0px 10vw;
  justify-content: space-between;
  align-items: center;
}
.hero-search {
  width: 50%;
}

.hero-img {
  height: 100%;
}
.hero-search > h1 {
  font-size: 30px;
  margin-bottom: 10px;

  span {
    color: #c21c1c;
  }
}
.hero-search > h4 {
  font-size: 20px;
  color: #c21c1c;

  span {
    font-size: 18px;
    font-weight: 400;
  }
}
@media screen and (max-width: 780px) {
  .Home-hero {
    display: flex;
    height: auto;

    flex-direction: column;
  }
  .hero-search {
    width: 100%;
  }
  .hero-img {
    height: 290px;
  }
}
