.main-swipe-page {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
.main-head-swipeheading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  h1 {
    font-size: 30px;
    color: #090a2f;
    border-bottom: 2px solid #090a2f;

    span {
      color: #c21c1c;
      border-bottom: 2px solid #c21c1c;
    }
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
