.testimonials-slider {
  width: 90%;
  margin: 0px 5%;
}
.testimonials {
  margin-top: 20px;
}
/* Arrorws */
.slick-next {
  /* right: 60px; */
  z-index: 1;
}
.slick-next:before {
  content: "→";
}
.slick-prev {
  /* left: 60px; */
  z-index: 1;
}
.slick-prev:before {
  content: "←";
}
.testimony {
  display: flex;
  height: 300px;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 60px;
}
.testimony-avatar {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: grey;
  font-size: 40px;
}
.testinomials-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.testinomials-content-top h2 {
  color: #c21c1c;
  text-decoration: underline;
}
.slick-list {
  width: 95%;
  margin-left: 40px;
}
@media screen and (max-width: 780px) {
  .testimony {
    width: 100%;
  }
  .slick-next {
    right: -25px;
  }
  .slick-prev {
    left: -20px;
    z-index: 1;
  }
  .slick-list {
    margin-left: 20px;
  }
  .testinomials-content-top h1 {
    font-size: 30px;
    text-align: center;
  }
}
