.main-nav {
  height: 180px;
}
.nav-top-hero {
  display: flex;

  justify-content: space-between;
  padding: 6px;
  background: #090a2f;
  color: white;
}
.nav-top-buttons > button {
  border: #090a2f;

  p {
    font-size: 16px;
    background: black;
    color: white;
  }
}
.nav-top-buttons span {
  padding: 4px;
}
.navbar-main-withlogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-main-withlogo img {
  height: auto;
  width: 350px;
}
.navbar-list {
  margin-top: 20px;
}
.navbar-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  font-size: 1.2rem;

  .home {
    text-decoration: none;
  }
}
.line {
  padding-top: 3px;
  width: 2px;
  height: 15px;
  background-color: #969696;
}
.mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 780px) {
  .log {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .navbar-flex {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #090a2f;
    left: 0;
    top: 85px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .home {
    color: wheat;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 25px;
    color: #090a2f;
    background-color: #ffffff;
    border: none;
    outline: none;
    top: 50px;
    right: 25px;
  }
  .navbar-main-withlogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    img {
      height: auto;
      width: 250px;
    }
  }
}
